<section class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
    <article class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="no-margin">Categories</h3>
            </div>

            <div class="panel-body">
                <ul class="list-unstyled">

                    {{#categories}}

                        <a href="#">
                            <li>{{ name }}</li>
                        </a>
                    {{/categories}}
                </ul>
            </div>

        </div>
    </article>
    <aside class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="no-margin">Menu</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" sp-view>

                </ul>
            </div>
        </div>
    </aside>
</section>
